body{
    font-family: 'Lato', sans-serif;
    
}
h1{
    font-size:40px;

}
.orange-color{
       color: orange;
}
.red-color{
    color:rgb(221, 24, 24);
}
section{
    display: flex;
    margin-top: 50px;
}
.heading{
    border-left: red 6px solid;
    padding-left: 5px;
}
h1{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.para{
    font-size: 25px;
    font-weight: 400;
}
.half-width{
    width:50%;
    padding-left:10%;
}
.half-width img{
    width:80%;
}
.link-button{
    text-decoration:none;
    background-color:rgb(223, 24, 57);
    padding:10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.Bold{
    padding-left: 35%;
}
.flexible-container{
    display:flex;
    width: 100%;

}
.item{
    width:33%;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 20px gray;bottom;
    padding: 30px;
    border-radius: 30px;
    
}
#mission{
    background-color: rgb(233, 252, 250);
}
#vision{
    background-color: rgb(247, 228, 231);
}
#goal{
    background-color: papayawhip;
}

.deve{
    display: flex;
}

footer p{
    text-align: center;
}
.work{
    padding-left:45%;
}
.build{
    padding-left:25%;
    padding-top:5%;
}
 
.images{
    width:200px;
    height:200px;
}
.bottom{
    background-color: black;
    padding: 50px;
    width: 100%;
}
.white-color{
    color: white;
}